* {
	padding: 0;
	margin: 0;
}

body {
	min-height: 100%;
	background-color: #fff;
	font-family: Helvetica, Arial, sans-serif, Apple Color Emoji,Segoe UI Emoji;
	font-size: 14px;
	line-height: 1.5;
}

/* --------------------------------------------------------------- */

@media screen and (max-width: 760px) {	
	.navbar_container {
		display: none;
	}
	
	.content_container {
		width: 100% !important;
	}
	
	.content {
		margin-left: 0px !important;
	}
}

/* --------------------------------------------------------------- */

#header_container {
	height: 50px;
	width: 100%;
	background-color: #24292e;
}

/* --------------------------------------------------------------- */

.header_items {
	padding-left: 20px;
	padding-right: 20px;
}

.header_title a {
	float: left;
	color: #fdfdfd;
	font-size: 25pt;
	text-decoration: none;
}

.header_title a:hover {
	color: #aaa;
}

/* --------------------------------------------------------------- */

.header_elem {
	height: 50px;
	float: right;
}

.header_item {
	padding-top: 13px;
	list-style-type: none;
	float: left;
}

.header_item img {
	vertical-align: middle;
	border-radius: 3px;
}

.header_item a {
	text-decoration: none;
	font-size: 16px;
	color: #fff;
	padding-right: 25px;
}

.header_item a:hover {
	color: hsla(0, 0%, 100%, .7);
}

.dropdown-caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	content: "";
	border-top-style: solid;
	border-top-width: 4px;
	border-right: 4px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 4px solid transparent;
}

/* --------------------------------------------------------------- */


#main_container {
	width: 100%;
}

.main {
	padding: 16px;
}

.navbar_container {
	width: 200px;
}

.navbar {
	height: inherit;
	width: inherit;
}

.navbar ul {
	list-style-type: none;
}

.navbar hr {
	height: 0;
	margin: 15px 0;
	overflow: hidden;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #dfe2e5;
}

.navbar a {
	display: block;
	position: relative;
	height: 20px;
	padding: 8px 10px;
	
	margin-bottom: 5px;
	overflow: hidden;
	font-size: 15px;
	color: #586069;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	border-radius: 3px;
}

.menu_item:hover {
	text-decoration: none;
	background-color: #eaecef;
}

.content_container {
	height: 700px;
	width: calc(100% - 200px);
	padding-bottom: 40px;
}

.content {
	background-color: #28a745;
	background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
	margin-left: 16px;
	height: inherit;
}














