* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

#header_container {
	height: 50px;
	width: 100%;
	background-color: #222;
}

.header {
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.header_title a {
	float: left;
	/*text-shadow: 1px 1px 5px #000;*/
	color: #fdfdfd;
	font-size: 25pt;
	text-decoration: none;
}

#main_container {
	
}

.content {
	width: 1280px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.content_container {
	width: 953px;
	height: 500px;
	background-color: #444;
	border: 1px solid #222;
	margin-right: 25px;
}

.article {
	padding: 20px 50px;
}

.article_title {
	border-bottom: 1px solid #222;
}

.article_info {
	padding-top: 10px;
}

.registration_container {
	width: 298px;
	background-color: #444;
	border: 1px solid #222;
}

.user_info {
	padding: 15px 15px;
}

.user_form {
	
}

.user_form h1 {
	text-align: center;
	padding-bottom: 15px;
}

.form_group {
	margin-top: 15px;
	margin-bottom: 15px;
}

.form_group dt {
	margin-bottom: 6px;
}

.form_control {
	height: 20px;
	padding: 6px 8px;
	line-height: 20px;
	vertical-align: middle;
	border: 1px solid #222;
	border-radius: 3px;
	outline: none;
	box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
	font-size: 14px;
	width: 250px;
	margin-right: 5px;
	background-color: #555;
}

.form_control:focus {
	border-color: #2188ff;
	outline: none;
	box-shadow: inset 0 1px 2px rgba(27,31,35,.075), 0 0 0 .2em rgba(3,102,214,.3);
}

#submit_button {
	width: 268px;
	height: 40px;
	background-color: #555;
	border: 1px solid #222;
}

#submit_button:hover {
	background-color: #666;
}

.red_star {
	color: #f00;
}

.red_star:hover {
	color: #00f;
}




















