* {
	margin: 0;
}

body {
	background-color: #fff;
	font-family: Helvetica, Arial, sans-serif, Apple Color Emoji,Segoe UI Emoji;
	font-size: 14px;
	line-height: 1.5;
	word-wrap: break-word;

	display: flex;
	flex-direction: column;
	color: #24292e;
}

/* --------------------------------------------------------------- */

.header-container {
	padding-left: 20px;
	padding-right: 20px;
	
	height: 50px;
	background-color: #24292e;
}

.header-container, .header-item {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}

/* --------------------------------------------------------------- */

.header-item:first-child {
	display: none;
}

.hamburger-wrapper-ref:hover .ham1, .hamburger-wrapper-ref:hover .ham2, .hamburger-wrapper-ref:hover .ham3 {
	background-color: hsla(0, 0%, 100%, .7);
}

.hamburger {
	padding-top: 3px;
	width: 24px;
	height: 21px;
	cursor: pointer;
}

.ham1, .ham2, .ham3 {
	width: inherit;
	height: 3px;
	background-color: #fff;
	/* transition: 0.2s; */
	border-radius: 6px;
}

.ham2 {
	margin: 6px 0px;
}

/* --------------------------------------------------------------- */

.header-title {
	font-size: 26pt;
	color: #fff;
}

/* --------------------------------------------------------------- */

.header-item {
	align-self: stretch;
	margin-right: 16px;
}

.header-item:last-child {
	margin-right: 0px;
}

.header-item a {
	text-decoration: none;
}

.header-item > a:hover {
	color: hsla(0, 0%, 100%, .7);
}

.center-item {
	order: inherit;
	flex: auto;
	flex-direction: row;
}

.relative {
	position: relative;
}

/* --------------------------------------------------------------- */

details {
	display: block;
}

.details-header {
	cursor: pointer;
	display: list-item;
}

.details-header:hover > .dropdown-caret, .details-header:focus > .dropdown-caret {
	color: hsla(0, 0%, 100%, .7);
	text-decoration: none;
}

.details-header::before {
	list-style: none;
}

.dropdown-caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	content: "";
	border-top-style: solid;
	border-top-width: 4px;
	border-right: 4px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 4px solid transparent;
	color: #fff;
}

.dropdown-item {
	color: #24292e;
	text-decoration: none;
	display: block;
	padding: 4px 8px 4px 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dropdown-item:hover {
	color: #fff;
	background-color: #34d058; /* #eaecef */
	text-decoration: none;
	outline: none;
	/* border-left: 2px solid #28a745; */
}

.header-nav-current-user {
	display: block;
	padding: 4px 16px;
	margin-bottom: -4px;
}

.current-user {
	color: #24292e;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.user-avatar {
	display: inline-block;
	overflow: hidden;
	line-height: 1;
	vertical-align: middle;
	border-radius: 50%;
	border-style: none;
}

.details-overlay[open] > summary::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 80;
    display: block;
    cursor: default;
    content: "";
    background: transparent;
}

.details-reset > summary::before {
    display: none;
}

.details-reset > summary {
	list-style: none;
	outline: none;
}

details > summary::-webkit-details-marker {
	display: none;
}


/* --------------------------------------------------------------- */


.dropdown-menu {
    position: absolute;
    top: 52px;
    z-index: 9999;
    width: 160px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 2px;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 4px;
    box-shadow: 0 1px 15px rgba(27, 31, 35, .15);
	
	right: 0;
	left: auto;
	margin-top: -8px;
	display: block;
}

details:not([open]) > :not(summary) {
    display: none !important;
}

.dropdown-menu::before {
	border: 7px solid transparent;
    border-bottom-color: #fff;
	
	top: -16px;
	right: 9px;
	left: auto;
}

.dropdown-menu::after, .dropdown-menu::before {
	position: absolute;
	display: inline-block;
	content: "";
	
	top: -14px;
	right: 10px;
	left: auto;
}

.dropdown-menu > hr {
	height: 0;
	margin: 8px 0;
	overflow: hidden;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #dfe2e5;
}

.menu-item-ico {
	display: inline-block;
	margin-right: 6px;
	width: 21px;
}

/* --------------------------------------------------------------- */

.main-container {
	display: block;
	
	display: flex;
	flex: auto;
	flex-direction: column;
}

.page-content {
	width: 980px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	
	display: flex;
	flex: auto;
	flex-direction: row;
}

.menu-container {
	padding-right: 24px;
	width: 220px;
	float: left;
}

.menu {
	position: relative;
	display: block;
	margin-bottom: 16px;
	list-style: none;
	background-color: #fff;
	border: 1px solid #e1e4e8;
	border-radius: 6px;
}

.menu-header {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #eaecef;
	list-style: none;
	padding: 8px 16px;	
}

.menu-header img {
	margin-right: 8px;
}

.user-names {
	line-height: 1.25;
}

.user-name {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 600;
	font-size: 14px;
}

.normal-text {
	font-weight: 400;
	font-size: 12px;
	color: #586069;
	line-height: 1.25;
	list-style: none;
}

.menu-item {
	position: relative;
	display: block;
	padding: 8px 16px;
	color: #1b1f23;
	text-decoration: none;
	list-style: none;
	border-bottom: 1px solid #eaecef;
}

.menu-item:last-child {
	border-bottom: none;
}

.menu-item:hover, .menu-item:focus {
	text-decoration: none;
	background-color: #f6f8fa;
	outline: none;
}


/* ------------------- */

.user-settings {
	width: 736px;
	float: left;
}

.user-settings-header {
	display: flex;
	padding-bottom: 8px;
	border-bottom: 1px solid #e1e4e8;
	flex-flow: row wrap;
}

.settings-subhead {
	font-size: 24px;
	font-weight: 400;
	flex: 1 1 auto;
}


.settings-inside {
	display: flex;
	margin-right: -16px;
	margin-left: -16px;
}

.settings-content {
	padding-right: 16px;
	padding-left: 16px;
}

/* ----------------------------- */

.form-group {
	margin: 15px 0;
}

label {
	font-weight: 600;
}

input {
	overflow: visible;
}

.form-group dt {
	margin: 0 0 6px;
}

.form-group .form-control {
	width: 440px;
	max-width: 100%;
	margin-right: 5px;
	background-color: #fafbfc;
}

.form-group .form-control:focus {
	background-color: #fff;
}

.form-control {
	padding: 5px 12px;
	font-size: 14px;
	line-height: 20px;
	color: #24292e;
	vertical-align: middle;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: right 8px center;
	border: 1px solid #e1e4e8;
	border-radius: 6px;
	outline: none;
	box-shadow: inset 0 1px 0 rgba(225,228,232,.2);
}

.note {
	min-height: 17px;
	margin: 4px 0 2px;
	font-size: 12px;
	color: #586069;
}

.user-profile-bio-container {
	position: relative;
}

.form-group textarea {
	width: 440px;
	height: 5.35em;
	min-height: 0;
}

textarea.form-control {
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 1.5;
}



















