<div id="app">
	<div>
		<header class="header-container">
			<div class="header">
				<div class="brand-item">
					<a class="header-title" href="/">TeeMate</a>
				</div>
				<nav class="header-nav">
					<ul class="nav-ul">
						<li class="header-item">
							<a class="signin-item" href="/">Войти</a>
						</li>
						<li class="header-item">
							<a class="signup-item" href="/">Зарегистрироваться</a>
						</li>
					</ul>
				</nav>
				<div class="mobile-navi">
					<a class="hamburger-wrapper-ref" href="/">
						<div class="hamburger">
							<div class="ham1"></div>
							<div class="ham2"></div>
							<div class="ham3"></div>
						</div>
					</a>
				</div>
			</div>
		</header>
	</div>
	<div>
		<section class="content-spacing">
			<h1 class="content-header">Header</h1>
			<div class="content-grid">
				<div class="container" v-for="n in 50">
					<div class="content">
						<img class="content-image" src="src/assets/asviar.png" alt="">
					</div>
					<button class="button">{{ message }}</button>
				</div>
			</div>
		</section>
	</div>
</div>
