<div id="index">
	<div class="main-wrapper">
		<main class="main-container">
			<div class="header-wrapper">
				<header class="header-container">
					<div class="brand-item">
						<a class="header-title" href="/">TeeMate</a>
					</div>
					<nav class="header-nav">
						<ul class="nav-ul">
							<li class="header-item">
								<router-link to="/profile" class="signin-item">Войти</router-link>
							</li>
							<li class="header-item">
								<router-link to="" class="signup-item">Зарегистрироваться</router-link>
							</li>
							<router-view/>
						</ul>
					</nav>
					<div class="mobile-navi">
						<a class="hamburger-wrapper-ref" href="/">
							<div class="hamburger">
								<div class="ham1"></div>
								<div class="ham2"></div>
								<div class="ham3"></div>
							</div>
						</a>
					</div>
				</header>
			</div>
			<div class="content-wrapper"></div>
			<div class="footer-wrapper"></div>
		</main>
	</div>
</div>