<div id="app">
	<div class="main-wrapper">
		<main class="main-container">
			<div class="navbar-wrapper">
				<nav class="navbar-container">
					<div class="navbar-header">
						<a class="header-title" href="/">TeeMate<sup>TM</sup></a>
					</div>
					<ul class="navbar-ul">
						<li class="navbar-item">
							<a class="menu-item" href="/">
								<div class="item-icon fas fa-hammer">
									<span class="notif-count">12</span>
								</div>
								<span class="text-item">Проекты</span>
							</a>
						</li>
						<li class="navbar-item">
							<a class="menu-item" href="/">
								<div class="item-icon fas fa-check">
									<span class="notif-count">12</span>
								</div>
								<span class="text-item">Задачи</span>
							</a>
						</li>
						<li class="navbar-item">
							<a class="menu-item" href="/">
								<div class="item-icon fas fa-comment">
									<span class="notif-count">12</span>
								</div>
								<span class="text-item">Сообщения</span>
							</a>
						</li>
						<li class="navbar-item">
							<a class="menu-item" href="/">
								<div class="item-icon fas fa-handshake">
									<span class="notif-count">12</span>
								</div>
								<span class="text-item">Тиммейты</span>
							</a>
						</li>
						<li class="navbar-item">
							<a class="menu-item" href="/">
								<div class="item-icon fas fa-quote-right">
									<span class="notif-count">12</span>
								</div>
								<span class="text-item">Подписки</span>
							</a>
						</li>
						<li class="navbar-item">
							<a class="menu-item" href="/">
								<div class="item-icon fas fa-star">
									<span class="notif-count">12</span>
								</div>
								<span class="text-item">Закладки</span>
							</a>
						</li>
						<li class="navbar-item">
							<a class="menu-item" href="/">
								<div class="item-icon fas fa-question">
									<span class="notif-count">12</span>
								</div>
								<span class="text-item">Q&amp;A</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="content-container">
				<div class="header-wrapper">
					<header class="header-container">
						<div class="header-item">
							<nav class="header-select">
								<ul class="select-ul">
									<li class="active">
										<a class="select-item" href="/">Что-то</a>
									</li>
									<li>
										<a class="select-item" href="/">Как-то</a>
									</li>
									<li>
										<a class="select-item" href="/">Где-то</a>
									</li>
								</ul>
							</nav>
						</div>
						<div class="header-right">
							<div class="notif-item">
								<a class="fas fa-bell" href="/"><span class="notif-point"></span></a>
							</div>
							<div class="account-menu"  v-on:click="visible = !visible" v-on-clickaway="away">
								<button class="account-button">
									<figure class="account-avatar">
										<img class="account-image" height="28px" width="28px" src="../assets/asviar.png" alt="">
									</figure>
									<span class="account-username">yorrdt</span>
									<span class="dropdown" v-bind:class="[visible ? 'fas fa-angle-up' : 'fas fa-angle-down']"></span>
								</button>
								<ul class="dropdown-menu" v-show="visible">
									<li>
										<a class="dropdown-menu-item" href="/" target="_blank">Профиль</a>
									</li>
									<li>
										<a class="dropdown-menu-item" href="/" target="_blank">Настройки</a>
									</li>
									<li>
										<a class="dropdown-menu-item" href="/" target="_blank">Помощь</a>
									</li>
									<hr></hr>
									<li>
										<a class="dropdown-menu-item" href="/" target="_blank">Выйти</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="mobile-navi">
							<a class="hamburger-wrapper-ref" href="/">
								<div class="hamburger">
									<div class="ham1"></div>
									<div class="ham2"></div>
									<div class="ham3"></div>
								</div>
							</a>
						</div>
					</header>
				</div>
				<div class="section-wrapper">
					<section class="content-spacing">
						<h1 class="content-header">Header</h1>
						<div class="content-grid">
							<div class="container" v-for="n in 54">
								<div class="content">
									<img class="content-image" src="../assets/asviar.png" alt="">
								</div>
								<button class="button">Button</button>
							</div>
						</div>
					</section>
				</div>
				<div class="aside-wrapper">
					<aside class="aside-container"></aside>
				</div>
			</div>
		</main>
	</div>
</div>
