* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #121212;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	word-wrap: break-word;
	color: #fff;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	background-color: transparent;
	color: #fff;
}

a:hover {
	color: #1DB954;
	outline: none;
}

/* #1ed760 */

/* ---------------------------------------------------- */
/* ----------------- MAIN_CONTAINER ------------------- */
/* ---------------------------------------------------- */

.main-wrapper {
	display: flex;
	flex: auto;
	flex-direction: column;
}

.main-container {
	display: flex;
	flex: auto;
	flex-direction: row;
}

/* ---------------------------------------------------- */
/* ----------------- NAVBAR_CONTAINER ----------------- */
/* ---------------------------------------------------- */

.navbar-wrapper {
	width: 18%;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	flex-direction: column;
	background-color: #000;
	padding-top: 24px;
}

.navbar-container {
	position: fixed;
	user-select: none;
	cursor: default;
}

.navbar-header {
	margin-bottom: 18px;
	padding-left: 24px;
}

.navbar-item {
	padding: 0 8px;
}

.navbar-item:focus { 
	outline: none;
}

.menu-item {
	display: flex;
	align-items: center;
	border-radius: 4px;
	padding: 0 16px;
	height: 40px;
	color: #b3b3b3;
}

.menu-item:focus, .menu-item:hover {
	text-decoration: none;
	color: #fff;
	/* background-color: #282828; */
}

/* .menu-item:focus .item-icon, .menu-item:hover .item-icon {
	color: #1DB954;
} */

.item-icon {
	margin-right: 16px;
	height: 24px;
	width: 24px;
	font-size: 1.5em;
}

.text-item {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: normal;
	text-transform: none;
}

.header-title {
	font-size: 34px;
}

/* ---------------------------------------------------- */
/* --------------------- HEADER ----------------------- */
/* ---------------------------------------------------- */

.content-container {
	width: 82%;
}

.header-wrapper {
	display: flex;
	height: 60px;
}

.header-container {
	position: fixed;
	display: flex;
	margin: 0 auto;
	padding: 16px 32px;
	height: 60px;
	justify-content: space-between;
	align-items: center;
	max-width: calc(100vw - 18%);
	z-index: 3;
	width: 100%;
	background-color: #000; /* #121212 */
}

.account-menu {
	position: relative;
	white-space: nowrap;
}


.account-tap {
	background-color: #000;
	border-radius: 23px;
	height: 32px;
	min-width: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	cursor: pointer;
	color: #fff;
	padding: 2px;
}

.account-tap:hover {
	background-color: #282828;
}

.account-avatar {
	overflow: hidden;
	position: relative;
	display: inline-block;
	cursor: pointer;
	color: #fff;
	
	width: 28px;
	height: 28px;
}

.account-username {
	margin-left: 8px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 110px;
	
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: normal;
	text-transform: none;
}

.dropdown {
	display: inline-block;
	margin-right: 6px;
	margin-left: 8px;
	
	display: inline-block;
	width: 0;
	height: 0;
	content: "";
	border-top-style: solid;
	border-top-width: 4px;
	border-right: 4px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 4px solid transparent;
	color: #fff;
}

.dropdown::before {

}

/* --------------------------------------------------------------- */

.mobile-navi {
	display: none;
}

.hamburger-wrapper-ref:hover .ham1, .hamburger-wrapper-ref:hover .ham2, .hamburger-wrapper-ref:hover .ham3 {
	background-color: hsla(0, 0%, 100%, .7);
}

.hamburger {
	padding-top: 3px;
	width: 24px;
	height: 21px;
	cursor: pointer;
}

.ham1, .ham2, .ham3 {
	width: inherit;
	height: 3px;
	background-color: #fff;
	border-radius: 6px;
}

.ham2 {
	margin: 6px 0px;
}

/* --------------------------------------------------- */
/* --------------- SECTION_CONTAINER ----------------- */
/* --------------------------------------------------- */

.section-wrapper {
	
}

.content-spacing {
	padding: 0 18px;
	max-width: 1955px;
}

.content-header {
	color: #fff;
	padding: 16px 0;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
}

.content-grid {
	display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}

.content-image {
	border-radius: 50%;
	height: 100%;
	width: 100%;
}

/* ----------------------------------------------------- */

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #282828;
	border-radius: 14px;
	padding: 16px;
}

.content {
	/* background-color: #44464E;  */
	border-radius: 50%;
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .3), 0 1px 2px 0 rgba(0, 0, 0, .2);
	margin-bottom: 16px;
}

.button {
	margin-top: 10px;
	width: 100%; 
	height: 35px;
	background-color: #1db954; 
	border-radius: 8px;
	border: 0;
	color: #fff;
	font-size: 12px;
}

.button:hover {
	background-color: #1ed760;
}

/* --------------------------------------------------- */
/* ---------------- ASIDE_CONTAINER ------------------ */
/* --------------------------------------------------- */


/* .aside-wrapper {
	padding-top: 80px;
	width: 24%;
} */

